<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSONDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>773C9A3B1BD5DF9E00AD3355</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>773C9A571BD5DF9F00AD3355</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>773C9A621BD5DF9F00AD3355</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
